.beer-grid {
  display: flex;
  flex-direction: column;
  align-items: center;

  &-item {
    display: flex;
    flex-direction: row;
    height: $card-height-base;
    column-gap: $space-xs;

    &-image {
      aspect-ratio: 1;

      & > img {
        border-radius: $border-radius-sm;
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }

    &-info {
      flex: 1;
      display: flex;
      flex-direction: column;

      h4,
      p {
        margin: 0 0 $space-sm;
      }
    }
  }
}
