// defaults
$primary-color: #aaa6ef;
$secondary-color: #808080;
$success-color: #52c41a; // success state color
$warning-color: #faad14; // warning state color
$error-color: #f5222d; // error state color
$info-color: #0091ff;
$background-primar-color: #ffffff;
$background-secondary-color: #f4f5f6;
$text-color: #292929;
$text-secondary-color: #646464;
