//defaults
$border-radius-base: 18px;
$border-radius-sm: 9px;

// header
$header-height: 60px;

// footer
$footer-height: 60px;

// card
$card-border-base: 1px solid $primary-color;
$card-border-radius-base: $border-radius-base;
$card-height-base: 130px;

// loading
$loading-size-base: 50px;

// alert
$alert-border-base: 1px solid transparent;
$alert-border-radius-base: $border-radius-base;
