.header {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $header-height;
  background-color: $secondary-color;
  z-index: 2;
  
  h4 {
    color: $text-secondary-color;
    font-weight: $font-weight-base;
    text-transform: uppercase;
  }
}
