.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: $footer-height;
  background-color: $secondary-color;
  margin-top: auto;
  z-index: 2;

  h4 {
    color: $text-secondary-color;
    font-weight: $font-weight-base;
    text-transform: uppercase;
  }
}
